*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(0, 0, 0);
}
.navber{
    margin-top: 10px;
    /* background-color: crimson; */
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}

li{
    list-style: none;
    display: inline-block;
}
li a {
    color: white;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background-color: rgb(45, 108, 110);
    padding: 10px;
    width: 80px;
    margin-left: 10px;
    border-radius: 10px;
}
button a {
    color: white;
    font-weight: bold;
}
button:hover{
    transform: translate();
    background-color: rgb(63, 70, 73);
}
.butttonA{
    background-color: rgb(45, 108, 110);
    padding: 10px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10px;
}
.main{
    display: flex;
}
.para-line{
    padding-left: 30px;
    padding-top: 50px;
    line-height: 50px;
}
.para1,
.para2,
.para3,
.para4{
    font-size: 25px;
    font-weight: 600;
}
.para1{
    color: rgb(122, 184, 184);
}
.para2{
    color: yellow;
}
.para3{
    color: rgb(168, 126, 211);
}
.amazing{
    padding-left: 30px;
    padding-top: 50px;
    height: 450px;
    border-radius: 20px;
}
.para4{
    color: rgb(25, 214, 97);
}
.text1{
    color: rgb(91, 131, 127);
}
.main2{
    line-height: 20px;
    width: 350px;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
}
.line-black{
    margin-left:1%;
    margin-top: 50px;
    height: 2px;
    width: 98%;
    background-color: rgb(197, 32, 32);
    border: none;
}
.maxpower{
    height: 2px;
    width: 98%;
    border: none;
    background-color: rgb(220, 69, 240);
    margin-left: 1%;
    margin-top: 20px;
}
.promax{
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.box-boss{
    padding: 20px;
    display: grid;
    grid-template-columns: auto  auto auto auto;
    gap: 2rem;

}
.box1{
    width: 100%;
    height:auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

img{
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin: 10px;
}
video{
    padding: 05px;
    margin: 10px;
    width: 98%;
    height: 200px;
    border-radius: 10px;
}
.box1:hover{
    transform: translate(0%,-2%);
    background-color:#FF014F;
    color: black;
    border-radius: 10px;
    transition-duration: 1s;
}
.pop{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.master{
    padding-top: 50px;
    padding-left: 14%;
    padding-right: 14%;
}

.dsd{
    display: flex;
}
.box2{
    height: auto;
    width: 100%;
    background-color: rgb(63, 182, 190);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid;
}
.new{
    /* margin-left: 20px; */
    margin-left: 20px;
}
.hudai{
    margin-top: 20px;
    height: 30px;
    width: 25px;
}
.pope{
    margin-left: 10px;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.open{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 10px;
}
h1{
    margin-bottom: 10px;
}
h3{
    padding: 4px;
}
h5{
    font-size: 50px;
}